layout {
    pane split_direction="vertical" {
        pane borderless=true
    }
    pane split_direction="vertical" {
        // value omitted, will be layed out horizontally
        pane
        pane
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
