layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane
    }
    pane split_direction="vertical" {
        // value omitted, will be layed out horizontally
        pane 
        pane
        pane
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
